<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   					   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- redis: 单机 -->
    <bean id="jedisPoolCache" class="cn.e3mall.common.redis.JedisPoolCache" />
    
    <!-- redis: 集群 -->
    <!-- <bean id="jedisClusterCache" class="cn.e3mall.common.redis.JedisClusterCache" /> -->
</beans>
