<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.e3mall.manager.dao.ItemCatMapper">
    <resultMap id="BaseResultMap" type="cn.e3mall.common.base.entity.ItemCat">
    <!--
      WARNING - @mbg.generated
    -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
        <result column="is_parent" jdbcType="BIT" property="isParent" />
        <result column="created" jdbcType="TIMESTAMP" property="created" />
        <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    </resultMap>
    
    <select id="selectEasyUITreeNodeByParentId" resultType="cn.e3mall.common.base.pojo.EasyUiTreeNode">
        SELECT
            ic.id, ic.name `text`, IF(ic.is_parent = 1, 'closed', 'open') state
        FROM
            tb_item_cat ic
            <!-- 状态。可选值:1(正常),2(删除) -->
        WHERE ic.parent_id = #{parentId} AND ic.status = 1
        ORDER BY ic.sort_order
    </select>
</mapper>